{% from 'bootstrap5/nav.html' import render_nav_item %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if title %}
        <title>{{ title }} - typemonkey</title>
        {% else %}
        <title>typemonkey</title>
        {% endif %}
        {{ bootstrap.load_css() }}
        <style>
            pre {
                background: #ddd;
                padding: 10px;
            }
            h2 {
                margin-top: 20px;
            }
            footer {
                margin: 20px;
            }
            .monKey {
                color: black;
                visibility:hidden;
            }
        </style>
    </head>
    <body>
        {{ bootstrap.load_js() }}
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {{ render_nav_item('index', 'Home') }}
                    {{ render_nav_item('signup', 'Signup') }}
                    {% if current_user.is_anonymous %}
                    {{ render_nav_item('login', 'Login') }}
                    {% else %}
                    {{ render_nav_item('stats', 'Stats') }}
                    {{ render_nav_item('logout', 'Logout') }}
                    {% endif %}
                </ul>
            </div>
            </div>
        </nav>
        <main class="container" style="min-height:100vh">
            {% if error is defined %}
                <h3 style="color:red">Error: {{error}}</h3>
            {% endif %}
            {% block content %}{% endblock %}
        </main>
    
        <footer class="text-center">
            {% block footer %}
                <small> &copy; 2024-<script>document.write(new Date().getFullYear())</script> <a href="https://osucyber.club/">OSU Cyber</a>
                </small>
            {% endblock %}
        </footer>
    </body>
    
</html>